body {
  background-color: white;
  margin: 0px;
}

.bgi-a {
  background-attachment: fixed;
  background-image: url('../image/Mississippi_River.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bgi-b {
  background-attachment: fixed;
  background-image: url('../image/Lake.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

.bgi-c {
  background-attachment: fixed;
  background-image: url('../image/HouFeng_Bikeway.JPG');
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  align-items: center;
  border-top: 1px solid #dadada;
  color: #999999;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
  height: 88px;
  justify-content: center;
  width: 100vw;
}

.view-title {
  -webkit-text-stroke: 1px Gray;
  align-items: center;
  color: white;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 4.75rem;
  font-weight: 400;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  margin-bottom: 0.5em;
}

.view-title:nth-child(3) {
  margin-bottom: 0em;
}
